* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  height: 100vh;

}

h2 {
  font-size: 23px;
  font-weight: 700;
}

p {
  font-size: 16px;
  font-weight: 400;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.widget {
  background-color: #fff;
  border-radius: 22px;
  max-width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.widget img {
  border-radius: 30px;
  padding: 14px;
}

.widget #text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 12px;
}

.widget #text h2 {
  color: hsl(218, 44%, 22%);
  margin-bottom: 16px;
}

.widget #text p {
  color: hsl(220, 15%, 55%);
  margin-bottom: 22px;
}

